body{
    margin: 0 auto;
    background-image: url("../img/774ebd39cf6673fa02200f53f19d2d2c.gif");
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    font-family:"Roboto" ;
}



header{
    
    background:  linear-gradient(
        135deg,rgba(255,255,255,0.1),rgba(255,255,255,0));
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    box-shadow: 0 8px 32px 0 rgba(43, 35, 35, 0.787);
    border: 1px solig rgba(255,255,255,0.18);
    border-radius: 32px;
}

header > div > div > div  >a {
    color: rgb(255, 106, 0);
    background-color: rgba(0, 0, 255, 0.235);
    text-decoration: none;
    padding: 5px;
    border-radius:  5px;
    border: black 1px solid;
    font-size: 20px;
}

.texto{

    text-align:justify ;
    margin: 0 auto;
    width: 500px;
    color: black;
    background:  linear-gradient(
        135deg,rgba(255,255,255,0.1),rgba(255,255,255,0));
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    box-shadow: 0 8px 32px 0 rgba(98, 82, 82, 0.787);
    border: 1px solig rgba(255,255,255,0.18);
    border-radius: 15px;

    
}
#carouselExample{
    margin: 0 auto;
    width: 390px;
}